*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-logo h4{
    font-size: 1.7rem;
}

#Navbar{
    border: 1px solid black;
    padding: .7rem 2rem;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4rem;
}

.navbar-lists ul{
    display: flex;
    gap: 3rem;
    list-style: none;
}

.navbar-lists a{
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}

.btn-login{
    padding: .3rem 1rem;
    border: 1px solid black;
    background-color: #9ff39f;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1.6rem;
}

/* hero */
#Hero{
    background-image: url("../images/somakodi-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 89.2vh;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.hero-container{
    margin: 0 auto;
    text-align: center;
    margin-top: 10rem;
    color: white;
    font-size: 1.6rem;
}

.hero-container p{
    color: rgb(210, 207, 207);
}

/* About Stylings */
#about{
    margin-top: 5rem;
}

#about h2{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.about-container{
    display: flex;
    align-items: center;
    gap: 4rem;
    margin: 0 2rem;
}

.about-text{
    width: 45%;
}

.about-text p{
    width: 100%;
    text-align: justify;
    /* 100% of 45% */
}

.about-image{
    width: 45%;
}

.about-image img{
    width: 100%;
    /* 100% of 45% */
}